- instrument_list = order_book.instrument_list
- if instrument_list
  - instrument_list.each do |one_instrument|
    = render :partial => 'instrument', :locals => {:instrument => one_instrument}
    = render :partial => 'place_order_modal', :locals => {:one_instrument => one_instrument, :type => Order::BID}
    = render :partial => 'place_order_modal', :locals => {:one_instrument => one_instrument, :type => Order::OFFER}
