- bids = instrument.bids || []
- offers = instrument.offers || []
- number_of_rows = [bids.size, offers.size].max
%table.table
  - if number_of_rows == 0
    - locals = {:instrument => instrument, :first => true}
    = render :partial => 'order_books/one_instrument_row', :locals => locals
  - (0...number_of_rows).each do |row|
    - locals = {:instrument => instrument, :first => (row == 0), :bid => bids[row], :offer => offers[row]}
    = render :partial => 'order_books/one_instrument_row', :locals => locals
