- bid ||= bid
%tr
  %td
    = instrument.name if first
  %td
    - if first
      %a{ :href=>"#bid-#{instrument.id}-modal", :role=>"button", :class => "btn", :id=>"bid-button", 'data-toggle'=>"modal"}
        Bid
  %td
    = bid.volume if bid
  %td
    = bid.price if bid
