
%h2 Order books you are administrating
= render :partial => 'table', :locals => {:order_books => @admin_order_books}

%h2 Available order books
= render :partial => 'table', :locals => {:order_books => @order_books}
